#xp-wrapper {
  width: 100%;
  min-height: 100vh !important;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
    justify-content: center;
}

#xp-container {
    /* background-color: blue; */
    width: 40%;
    padding: 4em 0;
}

/* mobile */
@media screen and (max-width: 768px) {
    #xp-container {
        width: 80%;
    }
}

#xp-container h3, p ,label, h4 {
    color: rgb(0, 0, 0);
}

#xp-container h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#xp-container h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(64, 64, 64)
}
#xp-container label {
    color:rgb(179, 179, 179);
    display: flex;
    align-items: center;

}

/* all images inside xp container */
#xp-container img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.xp-card {
    background-color: rgba(235, 235, 235, 0.387);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}