#project-wrapper {
    width: 100%;
    background-color: rgb(40, 40, 40);
    background-size: cover;
    background-position: center;
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    min-height: 100vh;
    padding-bottom: 50px;

}

.card {
    height: 520px !important;
}

.container-project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.p-card {
    height: 100%
} 